<h4 class='section-title'>¿Qué es?</h4>
<p>
	La Suiza Biblioteca es la biblioteca virtual de la escuela Confederacion Suiza
	que reune informacion sobre los libros de literatura que se encuentran en el
	establecimiento.
</p>
<hr />
{{! <p>Creada para lectores </p> }}
<h4 id='api'>API</h4>
<p>Para la realizacion del sitio no se usaron APIs como metodo para conseguir
	informacion. Se creo un una base de datos que concentre los usuarios y libros
	registrados
</p>
<h4 id='privacy'>Privacidad</h4>
Recomendamos no poner datos sensibles en la pagina al momento de registrarse.
<h4>Como desactivar mi cuenta</h4>
<p>Si ya no deseas usar el sitio,puedes eliminar tu cuenta en Configuraciones.
	Una vez que tu cuenta es eliminada,no podras recuperarla.</p>
<hr />
<h4 class='section-title' id='contact'>Contacto</h4>
<p>Nos encantaría saber lo que pensas sobre cualquier aspecto de La Suiza
	Biblioteca,un mensaje positivo,una queja,o alguna opinion. Envianos un
	mensaje!
	<ul>
		<li>
			<a
				class='mute'
				href='https://instagram.com/brandonporcel'
				target='_blank'
			>Instagram</a>
			de Brandon Porcel
		</li>
		<li>
			<a
				class='mute'
				href='https://www.facebook.com/tecnica26/'
				target='_blank'
			>
				Instagram</a>
			de la escuela.
		</li>
		<li>
			<a
				class='mute'
				href='https://www.facebook.com/tecnica26/'
				target='_blank'
			>
				Facebook</a>
			de la escuela.
		</li>
	</ul>
</p>