<h4 class='section-title'>¿Qué es?</h4>
<p>
	La Suiza Biblioteca es la biblioteca virtual de la escuela Confederacion Suiza
	que reune informacion variada sobre los libros de literatura.
	<br />
</p>
<p>
	Cuenta con dos secciones: Inicio y Estanterias.
	<br />
	En el Inicio vas a ver los los libros recomendados,son aquellos con mayor
	valoracion dada por los usuarios; y tambien un buscador que se especializa en
	titulos y autores.
	<br />
	En Estanterias vas a poder ver en detalle qué libros se escuentran en las
	numeradas estanterias.
</p>
<p>
	Orientada a alumnos,docentes y diferente personal del colegio, o a cualquier
	persona que pueda acercarse a la biblioteca. Hecha para quien quiera pasar un
	rato leyendo
</p>
<hr />
{{! <p>Creada para lectores </p> }}
<h4 id='api'>API</h4>
<p>Para la realizacion del sitio no se usaron APIs como metodo para conseguir
	informacion. Se creo un una base de datos que concentra la informacion de los
	usuarios y libros registrados
</p>
<h4 id='privacy'>Privacidad</h4>
Recomendamos no poner datos sensibles en la pagina al momento de registrarse.
<h4>Como desactivar mi cuenta</h4>
<p>Si ya no deseas usar el sitio,puedes eliminar tu cuenta en Configuraciones.
	Una vez que tu cuenta es eliminada, no podras recuperarla.</p>
<hr />
<h4 class='section-title' id='contact'>Contacto</h4>
<p>Me encantaría saber lo que pensas sobre cualquier aspecto de La Suiza
	Biblioteca. Todo feedback suma, un mensaje positivo, una queja, una opinion.

</p>
<p>
	Enviame un mensaje👉
	<a
		class='mute'
		href='https://instagram.com/brandonporcel'
		target='_blank'
	>instagram</a>
</p>