<h4 class='section-title'>¿Qué es?</h4>
<p>
	La
	<b> Suiza Biblioteca</b>
	es la biblioteca virtual de la escuela Confederación Suiza que reúne
	información variada sobre los libros de literatura.
	<br />
	<br />
	Una herramientas más para el aprendizaje y entretenimiento; acorde a las
	actividades relacionadas por los docentes de la institución o por los mismos
	alumnos proporcionando -de manera dinámica-, instrumentos modernos que
	faciliten el acceso y expansion de la cultura.
</p>
{{! <p>
	Cuenta con dos secciones: Inicio y Estanterías.
	<br />
	En el Inicio vas a ver los los libros recomendados,son aquellos con mayor
	valoración dada por los usuarios; y también un buscador que se especializa en
	títulos y autores.
	<br />
	En Estanterías vas a poder ver en detalle qué libros se encuentran en las
	numeradas estanterías.
</p> }}
<p>
	Orientada a alumnos,docentes y diferente personal del colegio que esten
	interesadxs en la lectura.
	<br />
	El procedimiento que sugiere la web es: Entrar a la pagina, verificar si el
	libro que queremos leer se encuentra en la misma y luego pasar por la
	biblioteca a retirarlo.
	<small>
		Si alguien tiene la duda -> Sí, es gratis:)
	</small>
</p>
<hr />
{{! <p>Creada para lectores </p> }}
<h4 id='api'>API</h4>
<p>Para la realizacion del sitio no se usaron APIs como metodo para conseguir
	informacion. Se creo un una base de datos que concentra la informacion de los
	usuarios y libros registrados.
</p>
<h4 id='privacy'>Privacidad</h4>
Se recomienda no poner datos sensibles en la pagina al momento de registrarse.
<h4>Como desactivar mi cuenta</h4>
<p>Si ya no deseas ser usuario de la pagina,puedes eliminar tu cuenta en
	Configuraciones. Una vez que tu cuenta es eliminada, no podras recuperarla.</p>
<hr />
<h4 class='section-title' id='contact'>Contacto</h4>
<p>Me encantaría saber lo que pensas sobre cualquier aspecto de La Suiza
	Biblioteca. Todo feedback suma, un mensaje positivo, una queja, una
	sugerencia, una duda, una recomendación, tu opinion.
</p>
<p>
	Enviame un mensajito por
	<a
		class='mute'
		href='https://instagram.com/brandonporcel'
		target='_blank'
	>instagram🎀</a>
</p>