<h4>¿Que es LaSuizaBiblioteca?</h4>
<p>
	Es,como dice su nombre, la biblioteca virtual de la escuela Confederacion
	Suiza para lectores y no lectores de literatura. Creado para el facil acceso
	Letterboxd is a global social network for grass-roots film discussion and
	discovery. Use it as a diary to record and share your opinion about films as
	you watch them, or just to keep track of films you’ve seen in the past.
	Showcase your favorites on your profile page. Rate, review and tag films as
	you add them. Find and follow your friends to see what they’re enjoying. Keep
	a watchlist of films you’d like to see, and create lists/collections on any
	given topic. We’ve been described as “like GoodReads for movies”.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quaerat
	nesciunt nihil fuga totam suscipit, consequatur veniam nemo modi
	exercitationem maxime deleniti excepturi dolorem dignissimos? Distinctio
	adipisci repellat veritatis fugiat?
</p>
<h4>Do I need to create an account to use this site?</h4>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ipsa porro totam
	cumque, voluptatibus facilis magnam! Culpa nisi deserunt rerum dolorum, sit,
	distinctio reiciendis velit corrupti id inventore, labore et.</p>
<h4>Do you have a community policy?</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam unde assumenda
	consequuntur vitae dolorem officiis quidem! Rem blanditiis quibusdam at,
	impedit fugiat cupiditate illum tenetur dicta sed, assumenda, ad vel.</p>
<h4>How should I use Letterboxd?</h4>