<h3 class='section-title'>Agregar libroðŸ“š</h3>
<form action='/users/signup' method='POST'>
	<div class='form-group'>
		<input
			type='text'
			class='form-input form-input-title'
			name='book-title'
			placeholder='Titulo'
			value='{{username}}'
		/>
		<input type='text' class='form-input' name='author' placeholder='Autor' />
	</div>
	<div class='form-group'>
		<input
			type='text'
			class='form-input'
			name='editorial'
			placeholder='Editorial'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='shelf'
			min='0'
			placeholder='Estante'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='quantity'
			min='0'
			placeholder='Canti.'
		/>
	</div>
	<div class='form-group'>
		<label id='add-info-checkbox' for='info-checkbox'>Info Adicional</label>
		<input type='checkbox' id='info-checkbox' />
		<div class='form-group'>
			<input
				type='text'
				disabled='true'
				class='form-input form-input-add-info'
				placeholder='ej: Actualmente lo tiene un alumno; Varias editoriales'
			/>
			<input
				type='number'
				min='0'
				class='form-input form-input-stars'
				placeholder='â­'
			/>
		</div>
	</div>
	<div class='form-group'>
		<input type='submit' class='form-input form-input-submit' value='Agregar' />
	</div>
</form>
<hr />
<h3 class='section-title'>Editar, Eliminar</h3>
<hr />

<p>sos el admin. un gran poder conlleva una gran responsabilidad</p>
<script>

	const $checkbox=document.getElementById('info-checkbox');
	$checkbox.addEventListener('change',()=>{ if($checkbox.checked) {
	document.querySelector('.form-input-add-info').disabled=false} else
	{document.querySelector('.form-input-add-info').disabled=true} })

</script>