<form action='/admin/login' method='POST'>
	<input type='name' name='username' placeholder='email' />
	<input type='password' name='password' placeholder='contra' />
	<input type='submit' value='anviar' />
</form>