<h3 class='section-title'>Todos los Libros</h3>
<hr />

<div class='allbooks-container'>
	<div class='liked-book-card'>
		{{#each allbooks}}
			<div>
				<div
					title='{{this.author}}'
					style="background-image: url('{{this.imageUrl}}');"
					class='liked-book'
				></div>
				<small>{{this.title}}</small>
			</div>
		{{/each}}
	</div>
</div>