{{>searcher}}
{{>searchResults var=searchResultsArray}}
{{shelfs}}
<h3>recomendados</h3>
<div>
    <select name="" id="">
        <option value="">estante 4</option>
        <option value="">estante 5</option>
        <option value="">estante 9</option>
        <option value="">estante 8</option>
    </select>
    <select name="" id="">
        <option value="">ordenar por</option>
        <option value="">titulo</option>
        <option value="">autor</option> 
    </select>
</div>
{{>recbooks var=books}}
