<h2 class='section-title'>Estanterias</h2>
<form class='shelf-form' action='/estanterias' method='GET'>
	<label for='shelf'>numero</label>
	{{>shelf-select shelf=shelf}}
	<button>Buscar</button>
</form>

<div class="search-results-container">
	<table class='search-results-table'>
		<thead class='search-results-thead'>
			<tr>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Editorial</th>
				<th>Estante</th>
				<th>Cantidad</th>
				<th>🌟</th>
			</tr>
		</thead>
		{{#each shelfsArray}}
			{{>search-results-tbody var=this}}
		{{/each}}
	</table>
</div>