:root {
	--main-color: #f4f1ea;
	/* --main-color: #669; */
	--secondary-color: #f9f8f4;
	/* --font-color: #66594c; */
	--font-color: #000;
	--black: #383738;
	--white: #fff;
	--light-green: #1e756f;
	--green: #00635d;
	--white-hover: rgba(255, 255, 255, 0.85);
	--third-color: #979797;
}

body {
	background-color: var(--main-color);
	color: var(--rojo);
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.container {
	width: 50%;
	margin: 0 auto;
}
/* ------------------------------------------------------ */
.header {
	box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.1);
	height: auto;
	padding: 20px 0;
}
.header-logo {
	margin: 0;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.user-dropdown-menu {
	position: absolute;
	right: 0;
	top: 55px;
	width: 170px;
	z-index: 10;
	padding: 0 5px;
	background: var(--white);
	border-radius: 5px;
	padding: 10px 0 5px;
}
.user-dropdown-title {
	margin: 0;
	padding: 10px;
	margin-bottom: 10px;
}
.user-dropdown-a {
	display: block;
	padding: 10px;

	border-radius: 5px;
}
.user-dropdown-a:hover {
	background-color: var(--third-color);
}
.header-link {
	font-size: 18px;
	font-weight: bold;
	color: var(--font-color);
	text-transform: capitalize;
	display: inline-block;
	margin-left: 20px;
}
.header-link-signin {
	border: 1px solid var(--black);
	color: var(--third-color);
}
.header-link-signin,
.header-link-signup {
	border-radius: 5px;
	padding: 7px 15px;
}
.header-link-signup {
	background-color: var(--light-green);
	color: var(--white);
}
.header-pfp-container {
	display: flex;
	align-items: flex-end;
}
.header-pfp {
	height: 50px;
	width: 50px;
	background-color: var(--green);
	border-radius: 50%;
	text-align: right;
}
.header-pfp-down {
	cursor: pointer;
	font-size: 16px;
}
/* ------------------------------------------------------ */
.content-container {
	padding: 50px 0;
	min-height: 335px;
}
.searcher-container {
	margin-bottom: 50px;
}
.searcher-input {
	background-color: var(--white);
	outline: none;
	width: 100%;
	height: 48px;
	color: var(--third-color);
	padding-left: 35px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	transition: 0.3s;
	font-size: 18px;
}
.searcher-input:hover {
	box-shadow: 0 0 2px 0 #efefef;
	background-color: var(--white-hover);
}
/* ------------------------------------------------------ */
.search-results-section {
	margin-bottom: 50px;
}
.search-results-title {
	margin-bottom: 20px;
}
.search-results-title h3 {
	margin: 0;
}
.search-results-title span {
	color: var(--third-color);
}
.search-results-container {
	max-height: 400px;
	overflow: auto;
}
.search-results-table {
	border: 1px;
}
.search-results-thead {
	background-color: #737373;
	color: var(--white);
	position: sticky;
	top: 0;
}
.search-results-tbody:nth-child(odd) {
	background-color: var(--white);
}
.search-results-tbody:nth-child(even) {
	background-color: #f7f7f7f7;
}
.search-results-tbody td {
	padding: 3px 5px;
	text-transform: capitalize;
}
/* ------------------------------------------------------ */
.recbooks-sort-nav-title {
	margin-top: 0;
}
.recbooks {
	height: 300px;
	overflow: auto hidden;
	white-space: nowrap;
}
.recbook-card {
	width: 180px;
	height: fit-content;
	margin-right: 30px;
	display: inline-block;
}
.recbook-img-container {
	height: 200px;
	position: relative;
}
.recbook-img {
	height: 100%;
	position: absolute;
	object-fit: cover;
	object-position: 0 50%;
	border-radius: 5px 5px 0 0;
}
.recbook-body {
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--white);
	padding: 0 5px;
	border-radius: 0 0 5px 5px;
}

.recbook-text {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ----------------------SHELFFFFFFFFF-------------------------------- */
.section-title {
	color: var(--green);
	margin: 0;
}
.shelf-form select,
.shelf-form button {
	background: none;
	border: 1px solid;
	cursor: pointer;
}
/* ----------------------SIGN IN-------------------------------- */

.form-input {
	border-radius: 5px;
	padding: 7px 15px;
	background: none;
	border: 1px solid #cccccc;
	margin: 5px 0;
	color: #a7a6a6;
}
.form-input-username {
	margin-top: 10px;
}
.form-input-submit {
	background-color: #ebe8e2;
	color: var(--light-green);
	cursor: pointer;
}
/* ------------------------------------------------------ */
.footer {
	/* margin-top: 50px; */
	/* height: 100px; */
	padding: 20px 5px 30px;
	/* padding: 35px 5px; */
	background-color: var(--secondary-color);
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.footer-nav {
	font-weight: bold;
	margin-bottom: 10px;
}
.footer-nav > ul > li {
	display: inline-block;
	margin-right: 18px;
}
.footer-nav a {
	color: #9ab;
}
.footer-nav a:hover {
	color: #bce;
}
.social .slash {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.096 18.368h1.216L5.968 3.584H4.752z' fill='%23567' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 12px 22px;
	height: 22px;
	width: 10px;
	display: inline-block;
	background-repeat: no-repeat;
}
.social .facebook span {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23567' d='M22 11c0-6.075-4.925-11-11-11S0 4.925 0 11c0 5.49 4.023 10.041 9.281 10.866V14.18H6.488V11h2.793V8.577c0-2.757 1.642-4.28 4.155-4.28 1.203 0 2.462.215 2.462.215v2.707h-1.387c-1.366 0-1.793.848-1.793 1.718V11h3.051l-.488 3.18h-2.563v7.687C17.977 21.041 22 16.49 22 11' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	height: 22px;
	width: 22px;
	display: inline-block;
}
.social .facebook span:hover {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23789' d='M22 11c0-6.075-4.925-11-11-11S0 4.925 0 11c0 5.49 4.023 10.041 9.281 10.866V14.18H6.488V11h2.793V8.577c0-2.757 1.642-4.28 4.155-4.28 1.203 0 2.462.215 2.462.215v2.707h-1.387c-1.366 0-1.793.848-1.793 1.718V11h3.051l-.488 3.18h-2.563v7.687C17.977 21.041 22 16.49 22 11' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.social .instagram span {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23567' d='m12.092.008 3.438.065c1.17.053 1.97.239 2.669.511a5.39 5.39 0 0 1 1.948 1.268A5.39 5.39 0 0 1 21.416 3.8c.272.699.458 1.499.511 2.669l.065 3.438.001.514v1.164l-.001.514-.065 3.438c-.053 1.17-.239 1.97-.511 2.669a5.39 5.39 0 0 1-1.268 1.948 5.39 5.39 0 0 1-1.948 1.268c-.699.272-1.499.458-2.669.511l-3.438.065-.514.001h-1.164l-.514-.001-3.438-.065c-1.17-.053-1.97-.239-2.669-.511a5.39 5.39 0 0 1-1.948-1.268 5.39 5.39 0 0 1-1.268-1.948c-.272-.699-.458-1.499-.511-2.669l-.065-3.438V9.908L.066 6.47C.12 5.299.305 4.5.577 3.8a5.39 5.39 0 0 1 1.268-1.948A5.39 5.39 0 0 1 3.793.584c.7-.272 1.499-.457 2.67-.511L9.901.008zm-.237 1.981h-1.718l-3.585.064c-1.072.049-1.654.228-2.042.379-.513.199-.88.438-1.264.823s-.623.751-.823 1.264c-.151.387-.33.97-.379 2.042l-.064 3.585v1.718l.064 3.585c.049 1.072.228 1.654.379 2.042.199.513.438.88.823 1.264s.751.623 1.264.823c.387.151.97.33 2.042.379l3.612.064h1.664l3.612-.064c1.072-.049 1.654-.228 2.042-.379.513-.199.88-.438 1.264-.823s.623-.751.823-1.264c.151-.387.33-.97.379-2.042l.064-3.585v-1.718l-.064-3.585c-.049-1.072-.228-1.654-.379-2.042-.199-.513-.438-.88-.823-1.264s-.751-.623-1.264-.823c-.387-.151-.97-.33-2.042-.379l-3.585-.064zm-.859 3.368a5.65 5.65 0 0 1 5.647 5.647 5.65 5.65 0 0 1-5.647 5.647 5.65 5.65 0 0 1-5.647-5.647 5.65 5.65 0 0 1 5.647-5.647zm0 1.981a3.666 3.666 0 1 0 0 7.332 3.666 3.666 0 0 0 0-7.332zm5.87-3.524a1.32 1.32 0 0 1 1.32 1.32 1.32 1.32 0 0 1-1.32 1.32 1.32 1.32 0 0 1-1.32-1.32 1.32 1.32 0 0 1 1.32-1.32z' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	height: 22px;
	width: 22px;
	display: inline-block;
}
.social .instagram span:hover {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23789' d='m12.092.008 3.438.065c1.17.053 1.97.239 2.669.511a5.39 5.39 0 0 1 1.948 1.268A5.39 5.39 0 0 1 21.416 3.8c.272.699.458 1.499.511 2.669l.065 3.438.001.514v1.164l-.001.514-.065 3.438c-.053 1.17-.239 1.97-.511 2.669a5.39 5.39 0 0 1-1.268 1.948 5.39 5.39 0 0 1-1.948 1.268c-.699.272-1.499.458-2.669.511l-3.438.065-.514.001h-1.164l-.514-.001-3.438-.065c-1.17-.053-1.97-.239-2.669-.511a5.39 5.39 0 0 1-1.948-1.268 5.39 5.39 0 0 1-1.268-1.948c-.272-.699-.458-1.499-.511-2.669l-.065-3.438V9.908L.066 6.47C.12 5.299.305 4.5.577 3.8a5.39 5.39 0 0 1 1.268-1.948A5.39 5.39 0 0 1 3.793.584c.7-.272 1.499-.457 2.67-.511L9.901.008zm-.237 1.981h-1.718l-3.585.064c-1.072.049-1.654.228-2.042.379-.513.199-.88.438-1.264.823s-.623.751-.823 1.264c-.151.387-.33.97-.379 2.042l-.064 3.585v1.718l.064 3.585c.049 1.072.228 1.654.379 2.042.199.513.438.88.823 1.264s.751.623 1.264.823c.387.151.97.33 2.042.379l3.612.064h1.664l3.612-.064c1.072-.049 1.654-.228 2.042-.379.513-.199.88-.438 1.264-.823s.623-.751.823-1.264c.151-.387.33-.97.379-2.042l.064-3.585v-1.718l-.064-3.585c-.049-1.072-.228-1.654-.379-2.042-.199-.513-.438-.88-.823-1.264s-.751-.623-1.264-.823c-.387-.151-.97-.33-2.042-.379l-3.585-.064zm-.859 3.368a5.65 5.65 0 0 1 5.647 5.647 5.65 5.65 0 0 1-5.647 5.647 5.65 5.65 0 0 1-5.647-5.647 5.65 5.65 0 0 1 5.647-5.647zm0 1.981a3.666 3.666 0 1 0 0 7.332 3.666 3.666 0 0 0 0-7.332zm5.87-3.524a1.32 1.32 0 0 1 1.32 1.32 1.32 1.32 0 0 1-1.32 1.32 1.32 1.32 0 0 1-1.32-1.32 1.32 1.32 0 0 1 1.32-1.32z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.copyright {
	color: #678;
	font-size: 13px;
	margin: 0;
	line-height: 1.5;
}
a.mute {
	border-bottom: 1px solid #456;
	color: #89a;
}
/* -----------------------ADMINNNNNNNNNNNNNNNNN------------------------------- */
/* -----------------------ADMINNNNNNNNNNNNNNNNN------------------------------- */
.form-input-half {
	width: 99px;
}
.form-input-add-info {
	width: 333px;
}
.form-input-stars {
	width: 70px;
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	height: auto;
}
.none {
	display: none;
}
