:root {
	--main-color: #f4f1ea;
	--secondary-color: #f9f8f4;
	--font-color: #66594c;
	--black: #383738;
	--white: #fff;
	--white-hover: rgba(255, 255, 255, 0.85);
	--third-color: #979797;
}

body {
	background-color: var(--main-color);
	color: var(--rojo);
	font-family: 'Lato', sans-serif;
	margin: 0;
	border: 1px solid red;
}
.container {
	width: 50%;
	margin: 0 auto;
}

.header {
	box-shadow: 0 4px 2px -2px gray;
	height: auto;
	padding: 30px 0;
}
.header-nav {
	display: flex;
	justify-content: space-between;
}
.header-link {
	font-size: 20px;
	font-weight: bold;
	color: var(--font-color);
	text-transform: capitalize;
	display: inline-block;
	margin-left: 20px;
}
/* ------------------------------------------------------ */
.content-container {
}
.searcher-container {
	margin: 50px 0;
}
.searcher-input {
	background-color: var(--white);
	outline: none;
	width: 100%;
	height: 48px;
	color: var(--third-color);
	padding-left: 35px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	transition: 0.3s;
	font-size: 18px;
}
.searcher-input:hover {
	box-shadow: 0 0 2px 0 #efefef;
	background-color: var(--white-hover);
}
/* ------------------------------------------------------ */
.footer {
	margin-top: 50px;
	height: 140px;
	background-color: var(--secondary-color);
}
/* ------------------------------------------------------ */
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
