<header class='header'>
	<ul class='navbar-nav ml-auto'>
	<nav class='header-nav'>
		{{#if user}}
			<div class='header-right'>
				<li class='header-link header-link-mybooks'>
					<a href='/:username/books'>my books</a>
				</li>
			</div>
			<h4>mybooks</h4>
		{{else}}
			<div class='header-left'>
				<li class='header-link'>
					<a href='/'>home</a>
				</li>
				<li class='header-link'>
					<a href='/estanterias'>estanterias</a>
				</li>
				<li class='header-link'>
					<a href='/users/signin'>sigin</a>
				</li>
				<li class='header-link'>
					<a href='/users/signup'>register</a>
				</li>
			</div>
		{{/if}}
	</nav>
</header>