<header class='header'>
	<nav class='header-nav'>

		<h1 class='header-logo'>
			<a href='/'>Biblioteca ET26</a>
		</h1>
		<div class='header-left'>
			<li class='header-link'>
				<a href='/estanterias'>estanterias</a>
			</li>
		</div>
		<div class='header-right'>
			{{#if user}}
				<div class='header-pfp-container'>
					<div class='header-pfp'></div>
					<span class='header-pfp-down'>👇</span>
					<div class='user-dropdown-menu none'>
						<h5 class='user-dropdown-title'>BRANDON</h5>
						<a href='/user/' class='user-dropdown-a'>Perfil</a>
						<a href='/:user/books' class='user-dropdown-a'>Mis libros</a>
						<a href='/:user/settings' class='user-dropdown-a'>Configuracion</a>
						<a href='/about/#help' class='user-dropdown-a'>Ayuda</a>
						<a class='user-dropdown-a' href='/users/logout'>Cerrar Sesion</a>
					</div>
				</div>
			{{else}}
				<li class='header-link header-link-signin'>
					<a href='/users/signin'>Ingresar</a>
				</li>
				<li class='header-link header-link-signup'>
					<a href='/users/signup'>Registrar</a>
				</li>
			{{/if}}
		</div>

	</nav>
</header>

<script>
	const pfpDown=document.querySelector('.header-pfp-down')
	pfpDown.addEventListener('click',()=>{document.querySelector('.user-dropdown-menu').classList.toggle("none")
	})

</script>