<header class='header'>
	<nav class='header-nav'>
		<h1 class='header-logo'>
			<a href='/'>Biblioteca ET26</a>
		</h1>
		<div class='header-left'>
			<li class='header-link header-link-mybooks'>
				<a href='/:username/books'>my books</a>
			</li>
			<li class='header-link'>
				<a href='/estanterias'>estanterias</a>
			</li>
		</div>
		<div class='header-right'>
			{{#if user}}
				<div class='header-pfp-container'>
					<div class='header-pfp'></div>
					<span class='header-pfp-down'>👇</span>
					<li class='header-link header-link-logout none'>
						<a href='/users/logout'>log out</a>
					</li>
				</div>
			{{else}}
				<li class='header-link header-link-signin'>
					<a href='/users/signin'>Ingresar</a>
				</li>
				<li class='header-link header-link-signup'>
					<a href='/users/signup'>Registrar</a>
				</li>
			{{/if}}
		</div>
	</nav>
</header>

<script>
	const pfpDown=document.querySelector('.header-pfp-down')
	pfpDown.addEventListener('click',()=>{document.querySelector('.header-link-logout').classList.remove("none")
	})

</script>