<div class='recbooks-section-container'>
	<h3 class='recbooks-sort-nav-title'>Recomendados</h3>
	<div class='recbooks'>
		{{#each books}}
			<article class='recbook-card'>
				<div class='recbook-img-container'>
					<img src={{this.imageUrl}} alt='img de lib recs' />
				</div>
				<div class='recbook-body'>
					<div class='recbook-info'>
						<p> {{this.title}} </p>
						<p> {{this.author}} </p>
					</div>
					<span>Estante {{this.shelf}} </span>
				</div>
			</article>
		{{/each}}
	</div>
</div>