<div class='recbooks-section-container'>
	<h3 class='recbooks-sort-nav-title'>Recomendados</h3>
	<div class='recbooks'>
		{{#each books}}
			<img src={{this.imageUrl}} alt='img de lib recs' />
		{{/each}}
	</div>
</div>