<h3 class='section-title'>EDITAR</h3>
<form
	action='/admin/book-edit/{{libro._id}}?_method=PUT'
	method='POST'
	class='admin-form'
>
	<input type='hidden' name='method' value='PUT' />
	{{>add-edit var=libro boton="Editar"}}
</form>