<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>La Suiza Biblioteca</title>
		{{! Custom CSS }}
		<link rel='stylesheet' href='/css/styles.css' />
		{{!-- Custom Font --}}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			{{!-- lato font --}}
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
			{{!-- roboto font --}}
		
	</head>
	<body>
		<div class="container">
			{{>header}}
			<div class="content-container">
				{{{body}}}
			</div>
			{{>footer}}
		</div>
	</body>
</html>