<div class='settings-container'>
	<h4 class='settings-title'>Configuraciones</h4>
	<hr />

	<form action='/settings/{{user._id}}' method='POST' class='settings-form'>
		<div class='form-group'>
			<label for='username'>Nombre</label>
			<input
				type='text'
				id='username'
				name='username'
				class='form-input form-input-half'
				placeholder='{{user.username}}'
			/>
		</div>
		<div class='form-group'>
			<label for='color-input'>Color</label>
			<div class='color-input-container'>
				<input type='color' name='color' id='color-input' class='form-input' />
			</div>
		</div>
		<input type='submit' class='form-input form-input-submit' value='Guardar' />
	</form>

	<button class='delete-account-btn'>Eliminar cuenta</button>
</div>

<script>
	document.querySelector('.delete-account-btn').addEventListener('click',()=>{
	let deleteConfirm=confirm("¿Estas seguro en eliminar tu cuenta?");
	if(deleteConfirm){ window.location.href = "/delete/yes"; }else{
	console.log('false') } })
</script>