<div class='settings-container'>
	<h4 class='settings-title'>Configuraciones</h4>
	<hr />
	<form action='/settings' class='settings-form'>
		<div class='form-group'>
			<label for='username'>nombre</label>
			<input type='text' id='username' class='form-input' />
		</div>
		<div class='form-group'>
			<label for='color'>color</label>
			<div class='color-input-container'>
				<input
					type='text'
					name='color'
					class='form-input'
					placeholder='#ffac83'
				/>
				<input type='color' id='color' class='form-input' />
			</div>
		</div>
		<input type='submit' class='form-input form-input-submit' value='Guardar' />
	</form>

	<div class='password-settings-container'>
		<details>
			<summary><h3>Cambiar contraseña</h3>
				<hr />
			</summary>
			<form action='/settings'>
				<div class='form-group'>
					<label for='current-password'>Contraseña Actual</label>
					<div class='color-input-container'>
						<input
							type='text'
							name='current-password'
							id='current-password'
							class='form-input'
						/>
					</div>
				</div>
				<div class='form-group'>
					<label for='new-password'>Nueva Contraseña</label>
					<div class='color-input-container'>
						<input
							type='text'
							name='current-password'
							id='new-password'
							class='form-input'
						/>
					</div>
				</div>
				<div class='form-group'>
					<label for='confirm-new-password'>Confirmar nueva contraseña</label>
					<div class='color-input-container'>
						<input
							type='text'
							name='confirm-new-password'
							id='confirm-new-password'
							class='form-input'
						/>
					</div>
				</div>
				<input
					type='submit'
					class='form-input form-input-submit'
					value='Cambiar contraseña'
				/>
			</form>
		</details>
	</div>
</div>