<h2 class='section-title'>Crea Una Cuenta</h2>
<form action='/users/signup' method='POST'>
	<div class='form-group'>
		<input
			autofocus='true'
			type='text'
			class='form-input form-input-username'
			name='username'
			placeholder='Username'
			value='{{username}}'
		/>
	</div>
	<div class='form-group'>
		<input
			type='password'
			class='form-input'
			name='password'
			placeholder='Crea una contraseña'
		/>
	</div>
	<div class='form-group'>
		<input
			type='password'
			class='form-input'
			name='confirm_password'
			placeholder='Confirma Contraseña'
		/>
	</div>
	<div class='form-group'>
		<input
			type='submit'
			class='form-input form-input-submit'
			value='Registrar'
		/>
	</div>
</form>