<h2 class='section-title'>Ingresa Tus Datos</h2>
<form action='/users/signin' method='POST'>
	<div class='form-group'>
		<input
			autofocus='true'
			class='form-input form-input-username'
			type='text'
			name='username'
			placeholder='Username'
		/>
	</div>
	<div class='form-group'>
		<input
			class='form-input'
			type='password'
			name='password'
			placeholder='Contraseña'
		/>
	</div>
	{{! <button>sing in-boton</button> }}
	<div class='form-group'>
		<input
			class='form-input form-input-submit'
			type='submit'
			value='Ingresar'
		/>
	</div>
</form>