<h2>sing up</h2>
<form action='/users/signup' method='POST'>
	<div>
		<div>
			<input type='text' name='username' placeholder='user name' />
		</div>
		<div>
			<input type='password' name='password' placeholder='pass wowrd' />
		</div>
		{{! <button>sing up-boton</button> }}
		<input type='submit' value='enviarrr' />
	</div>
</form>